
  <h1 class="text-center mb-4">Welcome to my todolist app</h1>
  <%= render 'layouts/task_form'  %>
  <div class="container">
    <ul class="row">
      <% @categories.each do  |category|%>

        <div class="col-md-4">
          <li  class="category-item list-group-item"><%= category.title  %></li>
          <div class="card category-div" id='<%= category.title %>'>
            <ul >
              <% category.tasks.each do |task|  %>
              <li id='text'>
                <%= task.title %>
                <% unless task.deadline.nil? %>
                  , to read: <%= task.deadline.strftime('%D')  %>
                  <%= link_to 'Edit', edit_task_path(task), remote: true %>
                  <%= link_to "Delete", task_path(task),remote: true, class: 'delete_task',
                               :data => {:confirm => "You sure?",
                                         :method => "delete"} %>
                <% end %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </ul>
  </div>



  <div class="container">
    <div class="row">
      <div id="carrousel">
      <% @tasks.each do |task|  %>
        <div class="card col-12">
          <% unless task.image.nil? %>
            <%= image_tag task.image, class: "rounded-circle" %>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
  </div>


